/* ----------------------------------

Name:yellow-responsive.css
Version:1.0.0

---------------------------------- */

@media screen and (max-width:1200px) {
    .yellow .work-count-box .gray-text { width: 90%; }
}
@media screen and (max-width:1100px) {
    .yellow .padding-70 { padding: 40px; }
}
@media screen and (max-width:1024px) {
    .yellow header .intro-section { padding: 30px 0 30px 30px; top: 22%; }
}
@media screen and (max-width:992px) {
    .yellow .highlight { font-size: 60px; }
    .yellow header .intro-section { top: 32%; }
}
@media screen and (max-width:991px) {
    .yellow .title-text { height: auto !important; padding: 0; }
    .yellow .education .carousel-indicators { bottom: -25px; }
    .yellow .margin-bottom-100 { margin-bottom: 50px; }
    .yellow .margin-bottom-70 { margin-bottom: 18px !important; }
    .yellow .group.margin-top.show { margin-top: 4.1% !important; }
    .yellow .highlight { font-size: 40px; }
    .yellow header .intro-section { padding: 40px 0 40px 40px; left: 44%; }
    .yellow header .intro-section .intro { line-height: inherit; margin: 0 0 15px; }
    .yellow .treatments { padding: 13px 0 23px; }
    .yellow h2.title { font-size: inherit; margin: 90px 0 31px; padding-bottom: 0; }
    .yellow .about-details .col-sm-9 { padding-left: 0; width: 100%; }
    .yellow h6.light-gray { font-size: 18px; line-height: 26px; margin-top: 0; }
    .yellow .margin-top { margin-top: 20px !important; }
    .yellow .padding-70 { padding: 35px; }
    .yellow span.title { margin: 20px 0 10px; }
    .yellow .margin-bottom { margin-bottom: 15px !important; }
    .yellow .work-count-box span.title { min-height: 46px; }
}
@media screen and (max-width:768px) {
    .yellow .margin-bottom-100 { margin-bottom: 80px; }
    .yellow header .intro-section { padding: 30px 0 30px 30px; }
    .yellow header .intro-section .intro { margin-bottom: 10px; }
    .yellow .highlight { font-size: 34px; }
    .yellow .treatments { padding: 11px 0 21px; }
    .yellow .description { width: 80%; font-size: 14px; line-height: 22px; }
    .yellow .description h6 { font-size: 18px; line-height: 24px; }
    .yellow .margin-bottom { margin-bottom: 15px !important; }
    .yellow .padding-70 { padding: 25px; }
    .yellow .padding-30 { padding: 15px; }
    .yellow h6.light-gray { font-size: 16px; line-height: 22px; }
    .yellow .margin-top { margin-top: 15px !important; }
    .yellow .group.margin-top.show { margin-top: 30px !important; }
    .yellow .about-con ul li { line-height: 20px; padding: 11px 0; }
    .yellow h6.light-gray { font-size: 15px; line-height: 20px; }
    .yellow .progress-bar-sub:last-child .progress { margin-bottom: 0; }
    .yellow .progress-name { margin-bottom: 5px; }
    .yellow .count-box .title { margin: 10px 0 0; }
    .yellow .cs-style-3 figcaption a { bottom: 20px; right: 10px; }
    .yellow .portfolio-figure figcaption i { font-size: 26px; top: 3px; left: 0; }
    .yellow .contact { padding-top: 0; }
    .yellow .contact .title-text { height: inherit !important; }
    .yellow .margin-top-50 { margin-top: 36px !important; }
    .yellow .description h6 { margin-top: 0; }
}
@media screen and (max-width:767px) {
    .yellow .padding-bottom-90 { padding-bottom: 30px; }
    .yellow .padding-top-90 { padding-top: 30px; }
    .yellow .padding-70 { padding: 25px 15px; }
    .yellow header .intro-section { left: 38%; }
    .yellow .highlight { font-size: 30px; line-height: 42px; }
    .yellow .treatments { font-size: 14px; }
    .yellow .title-text { display: inherit; height: inherit !important; }
    .yellow h2.title { margin: 33px 0 28px; }
    .yellow .description { margin: 0 0 11px !important; width: 100%; }
    .yellow .description h6 { font-size: 16px; line-height: 22px; margin: 0; }
    .yellow .about-details { margin: 0; width: 100%; }
    .yellow .about-details .col-sm-9 { padding: 0; }
    .yellow .margin-top-70 { margin-top: 16px !important; }
    .yellow .about-details-img { min-height: 300px; padding: 0; position: inherit; width: 100%; }
    .yellow .isotope-filters { margin: 0px 0 5%; padding: 36px 0 0; }
    .yellow .work-count .margin-bottom-100 { margin-bottom: 20px !important; }
    .yellow .work-count-box { display: table; margin-bottom: 15px; padding: 0; width: 100%; }
    .yellow .work-count-box:last-child { margin-bottom: 0; }
    .yellow .work-count-box .gray-bg { display: inline-block; min-height: 0; float: none !important; width: 100%; }
    .yellow span.title { font-size: inherit; }
    .yellow span.title { margin: 15px 0 10px; min-height: 0 !important; }
    .yellow .skills-details-img { height: auto; min-height: 300px; padding: 0; position: inherit; width: 100%; }
    .yellow .progress-name { line-height: 18px; margin: 0 0 3px 0; text-align: left; }
    .yellow .progress { margin-bottom: 15px; }
    .yellow .progress-bar-sub:last-child .progress { margin-bottom: 0; }
    .yellow .testimonial img { width: 12%; }
    .yellow .dark-gray-line { margin: 18px auto 13px; }
    .yellow .education .carousel-indicators { bottom: -15px; }
    .yellow .count-box:nth-child(4) { margin-bottom: 0; }
    .yellow .education .about-details .description:last-child,
    .yellow .count .description:last-child,
    .yellow .blog .about-details .description:last-child { margin-bottom: 30px !important; padding: 0; }
    .yellow .education .namerol { padding: 15px; }
    .yellow .education .result { font-size: 18px; margin: 6px 0 0 !important; }
    .yellow .white-bg .small-button { margin-bottom: 12px; }
    .yellow .group.margin-top.show { margin-top: 15px !important; }
    .yellow .icon-list li { text-align: center; width: 100%; }
    .yellow .head { text-align: center; }
    .yellow #testimonial { padding-top: 30px; padding-bottom: 30px; }
}
@media screen and (max-width:600px) {
    .yellow header .intro-section { left: 35%; padding: 20px 0 20px 20px; }
    .yellow .highlight { font-size: 24px; line-height: 38px; }
    .yellow header .intro-section .intro { margin-bottom: 9px; }
    .yellow .highlight-button,
    .yellow .highlight-button:focus { display: table; font-size: 14px; padding: 6px 16px; width: auto; }
    .yellow .treatments { display: inline-block; padding: 12px 0 13px; width: 60.2%; line-height: 20px }
    .yellow .count-box .title { line-height: 26px; }
    .yellow .education .namerol { padding: 15px; }
    .yellow .education .year { font-size: 22px; }
    .yellow .margin-bottom-70 { margin-bottom: 40px !important; }
    .yellow .education .carousel-indicators { bottom: -28px; }
    .yellow .blog .description h6,
    .yellow .education .description h6,
    .yellow .contact .white-text.description h6 { margin-bottom: 0; }
    .yellow .buttons .small-button { margin-top: 15px; }
}
@media screen and (max-width:480px) {
    .yellow header .intro-section { padding: 15px 0 15px 15px; }
    .yellow .padding-70 { text-align: center; }
    .yellow .margin-top-50 { margin-top: 23px !important; }
    .yellow .about-con { margin-top: 0 !important; }
    .yellow .carousel-caption { padding-top: 0; }
    .yellow .team-details { width: 100%; }
    .yellow .education .namerol {padding: 15px;}
    .yellow .isotope-filters li a:hover,
    .yellow .isotope-filters li a:focus,
    .yellow .isotope-filters li a:active { border-bottom: 1px solid #ffffff; }
    .yellow .chart8 span { font-size: 30px; }
    .yellow .chart span,
    .yellow .chart2 span,
    .yellow .chart3 span,
    .yellow .chart5 span,
    .yellow .chart6 span,
    .yellow .chart7 span,
    .yellow .chart8 span { top: 36%; }
    .yellow .education .team-profile i { margin-bottom: 8px; }
    .yellow .education .year { font-size: 20px; }
    .yellow .education .university { font-size: 14px; }
    .yellow .education .team-profile { padding: 15px; }
    .yellow .education .team-details span.result { font-size: 16px; margin: 5px 0 5px !important; }
    .yellow .about-details .white-text.description:first-child { margin-bottom: 11px !important; }
    .yellow .head { text-align: center; }
    .yellow .icon-list { text-align: center; }
    .yellow .icon-list li.divider-transparent { width: 100%; }
    .yellow .form-group { margin-top: 12px;}
    .yellow h2.title { margin: 30px 0 13px; }
    .yellow .team-details { padding: 0 15px; }
    .yellow .education .about-details .col-sm-12 { padding: 0; }
}

@media screen and (max-width:320px) {
    .yellow .highlight { font-size: 22px; line-height: 32px; }
    .yellow .treatments { padding: 10px 0 10px; width: 58%; font-size: 12px; line-height: 18px; }
    .yellow .highlight-button,
    .yellow .highlight-button:focus { font-size: 13px; }
    .yellow .description h6,
    .yellow h6.light-gray { font-size: 14px; line-height: 21px; }
    .yellow span.title,
    .yellow .work-count-box .gray-text { line-height: 18px; }
    .yellow .chart8 span { font-size: 32px; top: 44%; }
    .yellow .count-box .title { margin: 2px 0 0; }
    .yellow .margin-bottom-70 { margin-bottom: 27px !important; }
    .yellow .contact .row:last-child { padding: 0 0 0;}
}

@media only screen and (device-width: 1024px) {
    .yellow header .intro-section { padding: 30px 0 30px 30px; top: 22%; }
}
